.distancia-menu {
    padding-top: 20px;
}

.distancia-botao {
    padding-top: 10px;
}

.LinkMenu {
    color: white;
}

.LogoTemp {
    text-align: center;
    color: white;
    padding-top: 3px;
}

.clear {
    color: 'inherit';
    text-decoration: 'inherit';
}